@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}
.InformationDiv {
  margin: 0 auto;
  text-align: center;
  .memberInformation {
    margin: 0 auto;
    max-width: 1200px;
    border-bottom: 2px solid black;
    .defaultImg {
      margin: 0 auto;
      margin-top: 7%;
      width: 200px;
      height: 200px;
      // background-image: url('../../img/avator.jpeg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .topInformation {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 2%;
      @include mobile {
        display: block;
      }
      h1 {
        font-size: 32px;
        @include mobile {
          margin-bottom: 5px;
        }
      }
      button {
        background-color: white;
        color: black;
      }
    }
    ul {
      margin: 0 auto;
      max-width: 600px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      li {
        margin: 3% 3%;
      }
    }
  }
  .memberShopList {
    margin-top: 2%;
    .listOutLine {
      display: flex;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: 0 auto;
      margin-top: 2%;
      .outLine {
        border-radius: 10px;
        border: 1px solid rgb(23, 5, 87);
        background-color: rgb(182, 221, 223);
        color: black;
        width: 44%;
        margin: 2% 2%;
        @include mobile {
          width: 95%;
        }
        ul {
          li {
            text-align: left;
            padding: 2%;
            p {
              text-align: center;
            }
          }
        }
      }
    }
    .close {
      display: none;
    }
  }
}
