.footer-trip {
  background-color: #ebebeb;
  .footer-trip-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    p:nth-child(1) {
      margin-left: 50px;
      flex-grow: 2;
    }
    p:nth-child(2) {
      flex-grow: 1;
    }
    p:nth-child(3) {
      flex-grow: 1;
    }
  }
}
